*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    font-family: var(--fonts-font-texte);
    font-size:var(--text-texte-1);
    line-height: 1.6;
    background-color: var(--bleu-clair);
}

h1,
h2 {
    font-weight: 600;
    letter-spacing: -0.05rem;
    color: var(--jaune-vert);
    font-size: var(--texte-h1);
    font-family: margarine;
}

h3{
    font-weight: 600;
    color: var(--jaune-vert);
    font-size: var(--texte-h3);
}