*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    font-family: var(--fonts-font-texte);
    font-size:var(--text-texte-1);
    line-height: 1.6;
    background-color: var(--bleu-clair);
}
