.header{
    positions: absolute;
    left:0;
    width:100%;
    padding: var(--space-2xl) var(--space-4xl);
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header_link{
    display: block;
    position: relative;
    z-index: 20;
}
