.header {
    position: relative;
    left: 0;
    width: 100%;
    padding: var(--space-2xl) var(--space-4xl);
}


.header__logo {
    display: flex;
    flex-direction: column;
    gap: var(--space-8px);
}

.header__menu-btn {
    position: absolute;
    right: var(--space-4xl);
    z-index: 30;
}

.header_link {
    display: block;
    position: relative;
    z-index: 20;
}