.menu {
    position: fixed;
    inset: 0;
    z-index: 12;
    color: black;
    display: flex;
    flex-direction: column;
    padding: var(--space-16px);
    visibility: visible;
}

.menu[hidden] {
    visibility: hidden;
}

.menu::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: var(--bleu-clair);
}

.menu__list {
    position: center;
    z-index: 3;
    margin-top: 6rem;
}

.menu__item {
    margin-bottom: var(--space-8px);
}

.menu-btn {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent !important;
    border-radius: 0 !important;
}

.menu-btn_bar {
    background: black;
    height: 2px;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    left: 0;
    z-index: 10;
}

.menu-btn_bar--top {
    top: 6px;
}

.menu-btn_bar--bottom {
    bottom: 6px;
}